@model PizzaBox.Client.Models.StoreViewModel

<section class="text-top text-right">
    <a asp-controller="customer" asp-action="logout" class="btn btn-outline-danger">Sign Out</a>
</section>

<form asp-controller="order" asp-action="createorder" method="post">
    <h3>Select a store to order from</h3>

    <p>
        <select asp-for="@Model.StoreSelected">
            <option value="" hidden>No Selection</option>
            @foreach (var store in @Model.StoreList)
            {
                <option value="@store.Name">@store.Name</option>
            }
        </select>
        <span asp-validation-for="StoreSelected" style="color: red;"></span>
    </p>

    <button class="btn btn-success" type="submit">Select Store</button>
</form>

<section class="text-right">
    <a class="btn btn-danger" asp-controller="customer" asp-action="home">Cancel Order</a>
</section>