@model PizzaBox.Client.Models.CustomerViewModel

<section class="text-center">
    <p><h3>Login as existing customer</h3></p>

    <form asp-controller="customer" asp-action="login" method="post">
        <p>
            <label for="name">Please sign in here:</label>
            <input type="text" id="name" asp-for="@Model.Name" size="10">
            <span asp-validation-for="@Model.Name" style="color: red;"></span>
        </p>
        <button class="btn btn-success" type="submit">Login</button>
    </form>
</section>

<section>
    <a class="btn btn-primary" asp-controller="customer" asp-action="newcustomer">Or create a new customer</a>
</section>