@model PizzaBox.Client.Models.CustomerViewModel

<section class="text-top text-right">
    <a asp-controller="store" asp-action="logout" class="btn btn-outline-danger">Sign Out</a>
</section>

<form asp-controller="store" asp-action="orderhistory" method="post">
    <h3>Select a customer name to view their history at your store</h3>

    <p>
        <select asp-for="@Model.CustomerSelected">
            <option value="" selected disabled hidden>No Selection</option>
            @foreach (var customer in @Model.CustomerList)
            {
                <option value="@customer.Name">@customer.Name</option>
            }
        </select>
        <span asp-validation-for="CustomerSelected" style="color: red;"></span>
    </p>

    <button class="btn btn-success" type="submit">Select customer</button>
</form>

<section class="text-right">
    <a class="btn btn-danger" asp-controller="store" asp-action="home">Cancel</a>
</section>